.imggdd{
    margin-top: 50px;
    width: 500px;
    padding: 50px;
    padding-bottom: 30px;
}

.contentwert{
    margin-top: 50px;

}
.button22:hover{
    background-color: white;
    color: black;
}